.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
}

/* Hide default HTML checkbox */
.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 40px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggleSlider {
  background-color: #489f59;
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px #489f59;
}

input:checked + .toggleSlider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
